absl-py
attrs
gym==0.26.2
idna
imageio
lbforaging
matplotlib
mpyq
numpy==1.23.1
pbr
Pillow
pluggy
portpicker
probscale
protobuf #==3.6.1
py #==1.6.0
pygame
pyparsing
pysc2
pytest
python-dateutil
PyYAML
requests
rware
s2clientprotocol
sacred
scipy
six==1.11.0
sk-video==1.1.10
snakeviz
tensorboard-logger
torch
torchvision
tornado
urllib3
websocket-client
whichcraft
wrapt
git+https://github.com/oxwhirl/smac.git
einops
google-auth<3
markdown
tensorboard-plugin-wit
werkzeug
requests-oauthlib
pandas
torch==2.0.0+cu118 torchvision==0.15.1+cu118 torchaudio==2.0.1 --index-url https://download.pytorch.org/whl/cu118
torch-scatter -f https://data.pyg.org/whl/torch-2.0.0+cu118.html